/*
================================================================================
  nextflow.config — Pipeline configuration
================================================================================
*/

// ── Default parameters
params {
    fastq   = null        // required — provide with --fastq
    outdir  = "results"
    threads = 4
}

// ── Conda environment 
conda.enabled    = true


// ── Execution profiles 
profiles {

    // Local execution (default) — runs on your own machine
    standard {
        process.executor = "local"
        process.conda    = "${projectDir}/environment.yml"
    }

    // Useful for testing with minimal resources
    test {
        process.executor    = "local"
        process.conda       = "${projectDir}/environment.yml"
        process.cpus        = 2
        process.memory      = "4 GB"
    }

    // SLURM cluster profile (HPC)
    slurm {
        process.executor    = "slurm"
        process.conda       = "${projectDir}/environment.yml"
        process.cpus        = 8
        process.memory      = "16 GB"
        process.time        = "2h"
        process.queue       = "short"
    }
}

// ── Resource defaults (local)
process {
    cpus   = 4
    memory = "8 GB"
    time   = "1h"
}

// ── Nextflow execution report & timeline 
report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_timeline.html"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_dag.html"
}

// ── Manifest 
manifest {
    name            = "massive-case-study"
    author          = "Ege Dönmez"
    description     = "Long-read FASTQ data quality control pipeline "
    version         = "1.0.0"
    nextflowVersion = ">=23.0.0"
}
